@font-face{
	src: url(../fonts/Roboto-Regular.ttf);
	font-family:Roboto;
}

body{
    font-family: Roboto;
    
    background: #E5E5E5;
    
}

input{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.apareceu-mobile{
    display: none;
}
#container-geral{
    width: 935px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    

}

.topo-fixed{
    
    position: fixed;
    z-index:69;
    left: 0px;
    right: 0px;
    top: 0;
    border:1px solid #DBDBDB;
    background: white;
    
}
#topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    /*border: 1px solid black;*/
    width: 935px;
    margin: 0 auto;
    
    
}

#bordinha-topo{
    margin :0 10px;
    height: 22px;
    /*border: 1px solid #DBDBDB;*/
}
#esquerda-topo{
    display: flex;
    
}


#nome-instagram{
    background-image: url( ../imagens/logo.png);
    width: 103px;
    height: 29px;
    
}

ion-icon{
    font-size: 24px;
}



#pesquisa{
    width: 215px;
    height: 28px;
    border-radius: 3px;
}

#direita-topo{
    width: 142px;
    display: flex;
    justify-content: space-between;
}

/*-----------------Conteudos do corpo--
------------------------------------------------*/
#container-teste-corpo{
    width: 100%;
    height: auto;
    /*border:1px solid pink;*/
    display: flex;
    margin-top: 88px;
}
#conteudo-esquerda{
    width: 642px;
    
    /*border: 1px solid yellow;*/
}

#sidebar{
    width: calc(100vw - 293px);
    /*width: 100vw;*/
    /*width:293px;*/
    height: calc(100vh - 54px);
   /* background: yellowgreen;*/
    /*border: 1px solid yellowgreen;*/
    background: #E5E5E5;
    position:fixed;
    overflow-x: visible;
    top: 54px;
}

#ancora-sidebar{
    height: calc(100vh - 88px);
   
    /*background: blue;*/
    /*border: 6px solid blue;*/
}


/*-------Dentro conteudo da esquerda----
-------------------------*/

#stories{
    width: 614px;
    height: 118px;
    border: 1px solid #DBDBDB;
    margin-left: auto;
    display: flex;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    background: white;
    border-radius: 3px;
}

#stories p{
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    width: 58px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*border: 1px solid purple;*/
}

.container-stories{
    margin: 0 20px;
    text-align:center;
}



.stories{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url(../imagens/stories_background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow-stories{
    position:absolute;
    
    top: 40px;
    
    right: 0px;
}




.stories img{
    width: 48px;
    height: 48px;
    /*border: 1px solid black;*/
    border-radius: 50%;
    margin-top: 2px;
    
}

.posts{
    width: 614px;
    height: auto;
    background: white;
    margin-top: 24px;
    margin-bottom: 60px;
    margin-left:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #DBDBDB;
   /*border: 1px solid red;*/
    
}

.superior-post{
    width: 612px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

.posts .name img{

    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;

}

.name{
    display: flex;
    justify-content:space-between;
    /*width: 105px;*/
    height: 34px;
    /*border: 1px solid white;*/
    align-items: center;
    margin-left: 10px;

}

.name p{
    
    font-weight: bold;
    font-size: 14px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.posts .superior-post{
    margin-top: 0;
}

.posts img{
    width: 612px;
    height: 612px;
} 

.posts video{
    width: 612px;
    height: auto;

}
.inferior-post{
    height:auto;
    background: white;
    width: 612px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid #DBDBDB;
}

.inferior-post-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.inferior-post-icons ion-icon{
    margin-right: 10px;
}



.inferior-post-comentarios{
    margin: 0 10px;
    display:flex;
    align-items: center;
    height: 20px;
    /*border: 1px solid green;*/
}


.inferior-post-comentarios img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

#comentarios{
    /*border:1px solid red;*/
    margin: 5px 0;
}

#comentario{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#comentar{
    width: 100%;
   /* border: 1px solid blue;*/
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #DBDBDB;
}

.input-coment{
    border: none;
    margin-left: 10px;
    width: 100%;
    text-align: start;
}

.button{
    color: #B2DFFC;
    background: none;
    border: none;
}
.button:hover{
    color:#0095F6;
    transition: 300ms;
}

.negrito{
    font-weight: bold;
}




/*-------Dentro conteudo da sidebar----
-------------------------*/

#conteudo-sidebar{
    width: 327px;
    height: 465px;
    margin-top: 34px;
    /*background: gray;*/
    margin-left:0;
    background: #E5E5E5;
    

}

#conteudo-sidebar .primeira-img{
   
    margin-right: 10px;
}  

#conteudo-sidebar img{
    width: 56px;
    height: 56px;
    margin-right: 10px;
    border-radius: 50%;
}

#conteudo-sidebar .img-size-32{
    width: 32px;
    height: 32px;
    
}
.holding-content{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.holding-content2{
    justify-content: space-between;
}

.size-12{
    font-size: 12px;
    }

.size-14{
    font-size: 14px;
    }

.size-11{
    font-size: 11px;
}
.color{
    color:#8E8E8E;
}

.flex{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
    height: auto;
    margin-bottom: 23px;
    align-items: center;
}

.flex2{
    margin-bottom: 12px;
}

.azul{
    color: #139EF2;
}

.last{
    margin-bottom: 30px;
}

#sobre{
    width: 300px;
    height: 43px;
    margin-left: 10px;
    font-size: 11px;
}

.info-fim{
    margin-left: 10px;
    width: 300px;
    height: 14px;
}




/*-----Responsividade-----
-------------------------------*/

@media(max-width :935px){
    
    
    #ancora-sidebar{
        display: none;
    }

    #direita-topo {
        
        display: flex;
        justify-content: space-between;
    }

    #topo{
        width: 100%;
    }


    #conteudo-esquerda{
        margin: auto;
       
    }

    #stories{
        margin-right: auto;
    }

    .posts{
        margin-left: auto;
        margin-right: auto;
    }
}


@media(max-width:614px){
    #conteudo-esquerda{
        width: 100%;
    }

    #topo{
        width: 100%;
        background: white;
        margin: 0;
    }

    #direita-topo {
        width: auto;
        display: flex;
        justify-content: space-between;
    }

    .somiu-mobile{
        display: none;
    }

    .apareceu-mobile{
        display: flex;
        
        justify-content: space-between;
        
        
    }

    .apareceu-mobile img{
        width: 103px;
        height: 29px;
    }

    .posts{
        width: 100%;
        margin-top: 0;
    }

    #conteudo-esquerda,.post,.superior-post,.posts img,.inferior-post,.posts video{
        width: 100%;
    }

    .inferior-post-comentarios img{
        width: 20px;
    }

    #container-teste-corpo{
        margin-top: 54px;
    }

    #stories{
        width: 100%;
        margin-left: 0;
        
        background: #E5E5E5;
        }

    .topo-fixed{
        border-bottom: 1px solid #DBDBDB;
    }

    .superior-post{
        border-top: 1px solid #DBDBDB;
    }

    #arrow-stories{
        display: none;
    }

    .inferior-fixed{
        
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 54px;
        background: white;
        
    }

    .barra-inferior{
        height: 54px;
        width: 95%;
        display: flex;
        
        margin :0 auto;
        justify-content: space-around;
        align-items: center;

    }

    #apareceu-mobile{
        
        width: 90%;
    }

    

    
}